<ion-view title="MySpots">
    <ion-content>
        <ion-list show-delete="viewModel.showDelete">
            <ion-item ng-repeat="spot in viewModel.spots" item="spot" ng-click="viewModel.findSpot(spot)" class="item-remove-animate">
                {{ spot.name }} - (lat: {{ spot.coords.k }}; lng: {{ spot.coords.D }})
                <ion-delete-button class="ion-minus-circled" ng-click="viewModel.removeSpot(spot.name)"></ion-delete-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>