/* Empty. Add your own CSS if you like */
ion-header-bar {
    background-color: #FF003F !important;
}

.title {
    color: #fff !important;
    /*text-align: center !important;*/
}

.tab-nav {
    background-color: #FF003F !important;
}

